.authorization-wrapper {
    display: block;
    justify-content: center;    
    font-family: 'Geometria', sans-serif;
}


.upper-box {
    display: block;
    justify-content: center;
    padding-top: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
}

.upper-box p {
    font-size: 20px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
}

input, label {
    color: black;
    display:block;
    margin-top: 10px;
}

label {
    margin-bottom: 15px;
}

input {
    font-family: 'Geometria', sans-serif;
    font-size: 16px;
}


.bottom-box {
    display: grid;
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-top: 25px;
    justify-content: center;
}


.bottom-box input {
    display: flex;
    outline: none;
    font-family: 'Geometria', sans-serif;
    height: 48px;
    top: 28px;
    border: none;
    width: 335px;
    box-shadow: 1px 1px 64px #00000012;
}

.eye-icon {
    position: absolute; /* it's ugly but i am in rush :( */
    top: 45%;
    left: 57%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-recovery {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}



.bottom-box label {
    font-weight: 600;
    font-size: 15px;
}

.bottom-box button {
    margin-top: 10px;
    font-family: 'Geometria', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #49C2E8;
    border: none;
    border-radius: 10px;
    width: 335px;
    height: 50px;
    cursor: pointer;
}


.bottom-box-text {
    margin-top: 25px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.high-text {
    margin-top: 40px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.3);
}

.sign-in-link {
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: #49C2E8;
}

.password-recovery {
    padding: 0;
    margin: 0;
}

.password-recovery-text-upper {
    margin: 0;
    font-size: 20px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
}

.password-recovery-text-bottom {
    font-size: 14px;
    width: 325px;
}

.back-to-auth {
    margin-top: 60px;
    text-align: center;
    text-decoration: underline;
    color: #49C2E8;
    cursor: pointer;
}

@media screen and (min-width: 267px) and (max-width: 567px)  {
    .eye-icon {
        position: absolute;
        top: 45%;
        left: 75%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

@media screen and (min-width: 567px) and (max-width: 1024px)  {
    .eye-icon {
        position: absolute;
        top: 45%;
        left: 65%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}





